include ./_head.pug

body
    div(style="width: 400px; display: flex; flex-direction: column; align-items: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)")
        img(style="margin-right: 5rem;", src="/img/404.png")
        div(style="display: flex; flex-wrap: wrap; align-items: center;")
            p(style="font-size: 150%; text-align: center").
                Did you take wrong turn?<br>
                Let me show you a <a href="/" >way</a>

            img(src="/img/Miyuki.png")
