/* Widget style */

div.widget
    & > div
        width: 400px
        box-shadow: 2px 2px 2px 2px #aaa
        background-color: #eaeaea

        & > div.temp
            text-align: center
            & > h2.day
                display: inline-block
                margin-right: .2rem
            & > h3.night
                display: inline-block
                color: #836d6d
        & > h2.heading
            padding: .5rem
            color: white
            background-color: #696969
        & > h1.heading
        & > h2
        & > h3
        & > h4
            text-align: center
            margin-bottom: .2rem

div.widget.horizontal
    display: flex
